@use 'base/variables' as v;

.paginacion {
    display: flex;
    justify-content: space-between;
    margin-top: v.$separacion;
    padding-top: 2rem;
    border-top: 1px solid v.$gris_oscuro;
}

.ocultar {
    display: none;
}