@use 'variables' as v;

.nombre-pagina {
    font-size: 3.8rem;
    font-weight: v.$black;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--color-texto);
    text-align: center;
    margin-bottom: 0.5rem;

    span {
        color: var(--dorado);
    }
}

.descripcion-pagina {
    text-align: center;
    color: var(--color-gris);
    font-size: 1.6rem;
    margin-bottom: v.$separacion;
}